<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">{{ section.title }}</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">{{ section.text }}</p>
        </div>
      </div>
      <div class="row ">

        {% for screen in section.screen %} 
      
            <div class="col-lg-3 ml-auto">
            </br>
            <a href="./assets/img/app/{{screen.link}}"> 
                <picture> 
                  <source srcset="./assets/img/app/{{screen.image_webp}}" type="image/webp"> 
                  <source srcset="./assets/img/app/{{screen.image}}">
                    <img src="./assets/img/app/{{screen.image}}" alt="{{screen.title}}" width="250"> </img>  
                </picture>
              </a>   
            </div>
        {% endfor %}
        </div>
        <div class=" text-center"><br><br>
        {% include share-buttons.html %}
      </div>
      </div>
    </div>
  </section>
  

